.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .brand-container {
    height: 100%;
    width: 70px;
    padding: 0px 80px;
  }
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  padding: 0px 80px;
  align-items: center;
  justify-content: flex-end;

  .option {
    padding: 15px 15px;
  }
}
