.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 390px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  background-color: white;
  top: 90px;
  right: 60px;
  z-index: 5;
  opacity: 0.9;

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }
}
