body {
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.header ul {
  display: flex;
}

* {
  box-sizing: border-box;
}
